nav.navbar {
  margin-bottom: 1.5%;
  /*background-color:#343a40;*/
}
.categories-list img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#exampleSearch {
  margin-top: 10px;
}
#deleteTestrun{
  float: right;
}